%table.table.table-responsive
  %thead
  %tbody
    - @users.filter { |u| u != current_user }.each do |u|
      %tr
        %td
          = link_to u.username, user_path(u), class: "text-dark font-weight-bold"
        %td
          - if !u.janitor
            = link_to "Janitor", admin_jani_user_path(u), class: "btn btn-sm btn-primary", method: :post
          - else
            = link_to "Janitor", admin_dejani_user_path(u), class: "btn btn-sm btn-danger", method: :post
        %td
          - if !u.admin
            = link_to "Admin", admin_admin_user_path(u), class: "btn btn-sm btn-primary", method: :post
          - else
            = link_to "Admin", admin_deadmin_user_path(u), class: "btn btn-sm btn-danger", method: :post
        %td
          - if can? :destroy, u
            = link_to "Delete", admin_delete_user_path(u), class: "btn btn-sm btn-danger", confirm: "Are you sure?", method: :delete
