%p= @user.username
= form_with(url: relationships_path, method: "post") do |f|
  = hidden_field_tag :followed_id, @user.id
  = f.submit "Follow"
= form_for(current_user.active_relationships.find_by(followed_id: @user.id), method: "delete") do |f|
  = f.submit "Unfollow"

%p= @user.stats[:profit]
%p= @user.stats[:yield]*100
- @user.tips.each do |tip|
  = render partial: "tips/tip", locals: { tip: tip }
  = link_to "View", tip_path(tip)
  %br
