%p= @user.username
- if @user != current_user
  = form_with(url: relationships_path, method: "post") do |f|
    = hidden_field_tag :followed_id, @user.id
    = f.submit "Follow"
  = form_for(current_user.active_relationships.find_by(followed_id: @user.id), method: "delete") do |f|
    = f.submit "Unfollow"

%p= @user.stats[:profit]
%p= @user.stats[:yield]*100
- @content.sort_by { |c| c.created_at }.reverse.each do |c|
  - if c.class == Tip
    = render partial: "tips/tip", locals: { tip: c }
    = link_to "View", tip_path(c)
  - elsif c.class == Post
    = render partial: "posts/post", locals: { post: c }
    = link_to "View", post_path(c)
  %br
