- if user_signed_in? and @tip.user_id == current_user.id and @tip.pending?
  = form_with model: @tip, url: settle_tip_path, method: "post" do |f|
    %div.input-group
      %div.input-group-prepend
        = f.select :result, [['Win',:win],['Lost',:lost],['Half win',:halfwin],['Half lost',:halflost],['Push',:push],['Void',:void]], {}, { class: "custom-select"}
      %div.input-group-append
        = f.submit "Settle", class: "btn btn-primary"
- if not @tip.pending? and can? :amend, @tip
  = form_with model: @tip, url: amend_tip_path, method: "post" do |f|
    %div.input-group
      %div.input-group-prepend
        = f.select :result, [['Win',:win],['Lost',:lost],['Half win',:halfwin],['Half lost',:halflost],['Push',:push],['Void',:void]], {}, { class: "custom-select"}
      %div.input-group-append
        = f.submit "Amend", class: "btn btn-primary"
= render partial: "tip", locals: { tip: @tip }