!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0"}
    %title Uniproject
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    %div.container-fluid
      %div.row
        %div.col-auto
          %ul.nav.flex-column
            - if not user_signed_in?
              %li.nav-item
                = link_to "Log in", :new_user_session
              %li.nav-item
                = link_to "Register", :new_user_registration
            - else
              %li.nav-item
                Piercazzo
        %div.col
          = yield
