!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0"}
    %title Uni Project
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div.container-fluid
      %div.row
        %div.col-sm-auto.border-right.sidebar.bg-light
          %ul.nav.flex-column
            %li.nav-item.p-2
              = form_with url: search_user_path, method: "get", local: true do |f|
                = f.text_field :q, placeholder: "User Search...", class: "form-control", style: "width: 151px;"
            - if not user_signed_in?
              %li.nav-item.p-2
                = link_to "Log in", :new_user_session
              %li.nav-item.p-2.border-bottom.pb-4
                = link_to "Register", :new_user_registration
            - else
              %li.nav-tem.p-2
                = link_to "New tip", new_tip_path
              %li.nav-tem.p-2.border-bottom.pb-4
                = link_to "New Post", new_post_path
              %li.nav-item.p-2
                = link_to current_user.username, user_path(current_user)
              %li.nav-item.p-2
                = link_to "Log out", destroy_user_session_path, method: :delete, class: "text-danger"
              %li.nav-tem.p-2.border-bottom.pb-4
                = link_to "Settings", edit_user_registration_path
            %li.nav-item.p-2
              = link_to "Feed", "/feed"
            %li.nav-item.p-2
              = link_to "Rankings", "/rankings"
            %li.nav-item.p-2
              = link_to "Schedule", "/schedule"
        %div.col-sm-10.ml-sm-auto.pt-3{ style: "display: block;" }
          - flash.each do |name, msg|
            %div.alert.alert-warning{ role: "alert" }
              %p= msg
          = yield
